.tooltip-container {
    .tooltip {
        display: none;
    }
    &:hover {
        .tooltip {
            background: #000;
            color: #fff;
            padding: 5px;
            border-radius: 3px;
            opacity: .8;
            display: block;
            max-height: 300px;
            overflow: auto;
            max-width: 400px;
            word-break: break-word;
        }
    }
}

.monthly-report-page {
    table {
        thead {
            background-color: #3c8dbc;
            color: #fff;
        }
    }
}
table {
    input.num {
        min-width: 75px;
    }
}
