#create-project-form {
    width: 100%!important;
}
.vis-timeline {
    overflow: visible;
}
.vis-member .vis-item.vis-range.not-approve {
    border-color: #97b0f8;
    background-color: #d5ddf6;
}
.note-desc {
    white-space: pre-line;
    resize: vertical;
}