.suggest > .dropdown-menu > a.dropdown-item {
    display: block;
}
.mentiony-container {
    width: auto !important;
}
.col-md-2 {
    padding-left: unset;
}
@media only screen and (max-width: 991px){
    .col-md-2 {
        padding: 10px 0px 0px 15px;
    }
}
.tag-style {
    color: #fff;
    background: #00c0ef;
    padding: 1px 4px;
    border-radius: 3px;
}
.btn-delete-file {
    font-size: 20px;
    color: #dd4b39;
    cursor: pointer;
    margin-left: 10px;
}
.btn-delete-file:hover {
    opacity: 0.6;
}
