/*size screen*/
$mobile: 768px;
$desktop: 992px;
$navmobile: 1430px;

/*color*/
/*$menuColor: #ba2226;
$menuSubColor: #d11215;;
$menuSubColorHover: #D32F2F;;
$menuColorHover: #d11215;;
$menuColorActive: #d53f3f;
$menuTextColor: #fff;
$menuTextColorHover: #fff;*/

$menuColor: #B71C1C;
$menuColorHover: #C62828;
$menuSubColor: #C62828;;
$menuSubColorHover: #D32F2F;
$menuColorActive: #D32F2F;
$menuTextColor: #FFF;
$menuTextColorHover: #FFF;


$menuMobileColor: #414141;
$menuMobileLineColor: #ba2226;
$menuMobileTextColor: #fff;
$menuMobileActiveColor: #4f4f4f;
$menuMobileSubColor: #565656;

$menuMobileFormBorderColor: #374850;
$menuMobileFormInputTextColor: #949192;
$menuMobileFormInputColor: #ffffff;
$menuMobileFormSubmitTextColor: #949192;


$logoNavColor: #aa1d1d;

$lineHeight: 1.42857143;

$green: #449d44;
$orangeLow: #cc841e;
$orangeHight: #ec971f;
$redLow: #d83833;
$redHight: #d9534f;