body.guest{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.jumbotron{
    padding-top: 23px;
}
.logo-rikkei{
    img{
        max-height: 160px;
        display: block;
        margin: auto;
    }
}
.jumbotron .main-title{
    font-size: 45px;
}
.messages{
    .flash-message{
        margin-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
    }
}
.help-block.alert-danger{
    background: transparent!important;
    border: none;
    padding: 0 5px;
    margin-bottom: 0;
    color: #be1e2d!important;
}
.form-group {
    .form-control, label {
        font-size: 17px;
    }
}
.btn-add, .btn-edit{
    font-size: 21px;
}
.float-right {
    float: right;
}
.no-resize{
    resize: none;
}
.mgb-30{
    margin-bottom: 30px;
}
.no-appear{
    input[type="number"]{
        -moz-appearance: textfield;
        -webkit-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}
.welcome-footer {
    .policy-mobile-container {
        display: none;
    }
    .copyright, .policy-container .policy{
        font-size: 13px;
        margin-bottom: 0;
        span{
            color: #be1e2d;
        }
    }
}
