.version {
    font-size: 25px;
    font-family: calibri;
    margin-bottom: 0px;
    color: black;
}
.allcontent {
    padding: 15px;
    text-align: justify;	
}
.infor {
    margin: 0px;
    padding: 0px;
    color: #C0C0C0;
}
.dataTables_filter {
    display: none; 
}
.version {
    font-size: 25px;
    font-family: calibri;
    margin: 0px;
    color: black;
}
.version:hover {
    color: black;
}
.infor {
    margin-top: -2px;
    padding: 0px;
    color: #C0C0C0;
}
.head {
    margin-left: 15px;
}
.headcontent{
    font-size: 14px;
    font-weight: bold;
}
.box .box-danger {
    margin-top: 10px;
}
.main {
    background: #EEEEEE;
}
.pagination {
    float: right;
    margin: 0px;
}
.content-box {
    margin-top: -5px;
    /*max-height: 85px;
    overflow: hidden;*/
    img {
        max-width: 100%;
    }
    /* Set Transitions */
    transition: max-height 1s;
}
.open {
    max-height: 1000px;

    /* Set transitions */
    transition: max-height 1s;
}
