<div class="modal fade in" id="modal-project-old-edit">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content row">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <span><%= titleModalProject %></span>
                    <span ng-if="isProjOld">
                        &nbsp;&nbsp;<span class="label-tag-old label label-default" ng-bind="trans['Old']"></span>
                    </span>
                    <span ng-if="!isSearchPage && editItem.id">
                        &nbsp;&nbsp;<span class="label" ng-class="getClassStatus(editItem.tag_status, true)" ng-bind="getLabelStatus(editItem.tag_status)"></span>
                    </span>
                </h4>
                
                <span ng-if="!isSearchPage">
                    <span ng-if="isProjOld">
                        <small ng-bind="trans['With the old project, you need to fill in some more information']"></small>
                    </span>
                    <span ng-if="!isProjOld">
                        <a class="small" href="<%= funcProjWoDetailLink() %>" ng-bind="trans['View on dashboard']"></a>
                    </span>
                </span>
                
            </div>
            <div class="modal-body col-md-12">
                <div class="tab-keep-status tab-custom-popup">
                    <ul class="nav steps-checkout row">
                        <li class="col-xs-3 active">
                            <a href="#summary" data-toggle="tab">
                                <span class="bullet-checkout"><span class="number">1</span></span>
                                <%= trans['Basic info'] %></a>
                        </li>
                        <li ng-class="projectItem.id ? '' : 'disabled'" class="col-xs-3">
                            <a href="<%= projectItem.id ? '#scope' : '' %>" 
                               data-toggle="<%= projectItem.id ? 'tab' : '' %>"
                               ng-click="funcProjLoadTabContent($event)">
                                <span class="bullet-checkout"><span class="number">2</span></span>
                                <%= trans['Scope'] %></a>
                        </li>
                        <li ng-class="projectItem.id ? '' : 'disabled'" class="col-xs-3">
                            <a href="<%= projectItem.id ? '#team-allocation' : '' %>" 
                               data-toggle="<%= projectItem.id ? 'tab' : '' %>"
                               ng-click="funcProjLoadTabContent($event)">
                                <span class="bullet-checkout"><span class="number">3</span></span>
                                <%= trans['Team allocation'] %></a>
                        </li>
                        <li ng-class="projectItem.id ? '' : 'disabled'" class="col-xs-3">
                            <a href="<%= projectItem.id ? '#project-tags' : '' %>" 
                               data-toggle="<%= projectItem.id ? 'tab' : '' %>"
                               ng-click="funcProjLoadTabContent($event)">
                                <span class="bullet-checkout"><span class="number">4</span></span>
                                Tags</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="summary">
                            <div ng-bind-html-compile="htmlProjectBasicInfo"></div>
                        </div>
                        <div ng-if="projectItem.id" class="tab-pane" id="scope">
                            <div ng-bind-html-compile="htmlProjectScope"
                                data-url="<%= varGlobalTag.urlProjectGetScope %>"
                                data-template="project/scope.html"></div>
                        </div>
                        <div ng-if="projectItem.id" class="tab-pane" id="team-allocation">
                            <div ng-bind-html-compile="htmlProjectTeam"
                                 data-url="<%= varGlobalTag.urlProjectGetDataItemMember %>"
                                data-template="project/team.html"></div>
                        </div>
                        <div ng-if="projectItem.id" class="tab-pane" id="project-tags">
                            <div ng-include="generalTag.getTemplate('project/tags-tab.html')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
