<div class="modal fade" ng-class="confirmDanger ? 'modal-danger' : 'modal-warning'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><%= confirmTitle || 'Confirm' %></h4>
            </div>
            <div class="modal-body">
                <%= confirmContent || 'Are you sure?' %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline btn-close" ng-click="dismissModal(false)" data-dismiss="modal"><%= trans['Cancel'] %></button>
                <button type="button" class="btn btn-outline btn-ok" ng-click="dismissModal(true)">OK</button>
            </div>
        </div>
    </div>
</div>
