$lineHeight: 1.42857143;

$selectTeamColor: #FFF;

$colorStatusApproved: #fff;

$colorStatusSubmitted: #f7f0cb;

$colorStatusDraft: #f7f0cb;

$colorStatusReviewed: #f7f0cb;

$colorStatusFeedback: #f7f0cb;

$colorStatusDraftEdit: #f7f0cb;

$colorStatusDraftDelete: #f2dede;

$colorStatusSubmittedEdit: #f7f0cb;

$colorStatusSubmittedDelete: #f2dede;

$colorStatusReviewedEdit: #f7f0cb;

$colorStatusReviewedDelete: #f2dede;

$colorStatusFeedbackEdit: #f7f0cb;

$colorStatusFeedbackDelete: #f2dede;

$colorTheadTableWorkorder: #C0DED8;

$colorStatusDeleteAprroved: #f2dede;
