td:not(.sheet-title) {
    font-family: Times New Roman;
    font-size: 11;
    vertical-align: middle;
    wrap-text: true;
}
.sheet-title {
    font-family: Times New Roman;
    font-size: 18;
    font-weight: bold;
    text-align: center;
    height: 60;
    vertical-align: middle;
}
tr:not(.offset) td{
    height: 30;
}
.row-sl-bd td:first-child {
    border-left: 1px medium #000;
}
.row-sl-bd td:not(.sep):not(:last-child) {
    border: 1px solid #000;
}
.row-sl-bd td:last-child {
    border-left: 1px medium #000;
}
.row-sl-bd .sep {
    border-left: 1px medium #000;
    border-right: 1px medium #000;
}
.title {
    font-weight: bold;
    background-color: #d8d8d8;
    text-align: left;
}
.main-row .title {
    border: 5 medium #000;
    text-align: center;
}
.desc-no {
    font-weight: bold;
    text-align: center;
}
.sl-bd {
    border: 1px solid #000;
}
.md-bd {
    border: 1px medium #000;
}
tr .md-bdt {
    border-top: 1px medium #000;
}
tr .md-bdr {
    border-right: 1px medium #000;
}
tr .md-bdl {
    border-left: 1px medium #000;
}
tr .md-bdb {
    border-bottom: 1px medium #000;
}
tr .bg-type {
    background-color: #DDDDDD;
    font-weight: bold;
}
tr.row-sl-bd td.bd-none {
    border: 0 !important;
}
.bd-5 {
    border: 5px medium #000;
}
.text-center {
    text-align: center;
}
