$color-rk : #bc2026;
$color-rk-hover : #960000;
$color-black : #333333;
$color-brownish-grey : #666666;
$color-warm-grey : #999999;
$color-white : #ebebeb;
$color-white-two : #f1f1f1;

$color-blue-link: #3c5a99;

$latestNewsHeight: 165px;
$topNewsHeight : ($latestNewsHeight - 25)/2;
$recommentNewsHeight: 200px;
$shouldReadNewsHeight: 400px;
$imgShouldReadNewsHeight: 150px;