/* Global 
------------------------------------------------ */
@charset "utf-8";


/* Remove Firefox selection dot */
a,
a:focus,
a:active,
a:hover,
object,
embed {
  outline: none !important;
}

:-moz-any-link:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: 0;
}

/* Remove Firefox Dropdown selection dot */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* Image */
a img {
  border: none;
}

img {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/* max-width:100% causes IE8 bug */

div {
  word-break: break-all;
}



/* Main 
------------------------------------------------ */
body {
  background: #333956;
  padding: 0px;
}



/* Carousel Fading slide */
.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel-fade .carousel-control {
  z-index: 3;
}

.carousel-fade .next,
.carousel-fade .prev {
  left: 0;
  z-index: 1;
}



/* Carousel Control */
.carousel-control {
  top: 43%;
  font-size: 48px;
}

/* Animation */
.control-box,
a.carousel-control,
.carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  /* hardware acceleration will cause Bootstrap carousel controlbox margin error in webkit browsers */
  /* Assigning animation to indicator li will make slides flicker */
}

/* Removing BS background */
.carousel .control-box {
  opacity: 0;
}

a.carousel-control.left {
  left: 0;
  background: none;
  border: 0;
}

a.carousel-control.right {
  right: 0;
  background: none;
  border: 0;
}

/* Hover animation */
.carousel:hover .control-box {
  opacity: 1;
}

.carousel:hover a.carousel-control.left {
  left: 15px;
}

.carousel:hover a.carousel-control.right {
  right: 15px;
}



/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li {
  border: 0;
}

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
}

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
}



/* Footer 
------------------------------------------------ */
footer.info {
  text-align: center;
  color: #888;
  margin: 30px 0;
}

footer.info p {
  color: white;
}

.carousel-inner.anim>.item {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}