.opinion-label, .opinion-value {
  padding-bottom: 20px;
  font-size: 16px;
  padding-top: 20px;
  word-break: break-all;
}

.opinion-label {
  font-weight: bold;
}

.opinion-wrapper {
  padding: 20px;
}

.opinion-button {
  padding-top: 50px;
}