/* 
    Created on : Dec 26, 2017, 4:51:12 PM
    Author     : tunglx
*/

#cvo-document-root {
    margin: 0px auto;
    padding: 15mm 0;
    font-size: 12pt;
}
#cvo-document {
    color: #000;
}
.cvo-document {
    font-family: arial,sans-serif,tahoma;
    font-size: 10pt;
    width: 100%;
    
    .cvo-page {
        width: 210mm;
        min-height: 260mm;
        padding: 20mm;
        margin: 0mm auto;
        box-shadow: 0 0 1px rgba(0,0,0,0.25);
        background-color: white;
        position: relative;
    }
    .cvo-subpage {
       min-height: 200mm;
       padding: 0;
    }
    #cvo-profile {
        padding-bottom: 1cm;
        
        #cvo-profile-fullname {
            display: block;
            font-size: 24pt;
            line-height: 24pt;
            font-weight: bold;
            color: #0E2452;
            text-transform: capitalize;
        }
    }
    div.cvo-block {
        padding: 0 4mm;
        word-break: break-word;
    }
    #cvo-profile {
        table {
            margin: 0;
            border-collapse: collapse;
            width: 100%;
            border-spacing: 0;
        }
        th {
            padding: 0.1cm;
            line-height: 16pt;
            font-size: 10pt;
            vertical-align: middle;
        }
        td{
            padding: 0.1cm;
            line-height: 16pt;
            font-size: 10pt;
            vertical-align: middle;
        }
        td.avatar-wraper {
            width: 3cm;
            text-align: right;
            min-height: 4cm;
            vertical-align: top;
            img {
                border: 0;
                width: 3cm;
                margin: 0 auto;
                min-height: 4cm;
            }
        }
        span.profile-label {
            display: inline-block;
            width: 25%;
            font-weight: bold;
            font-style: normal;
        }
        span.profile-field {
            display: inline-block;
            min-width: 3cm;
            max-width: 8.6cm;
            vertical-align: top;
        }
    }
    .cvo-block-title {
        color: #000000;
        font-size: 12pt;
        line-height: 18pt;
        margin-bottom: 5pt;
        border-bottom: 1pt solid #333;
        text-transform: uppercase;
        font-weight: bold;
        span {
            width: 100%;
        }
    }
    #cvo-objective {
        .block-body {
            padding-top: 0.5cm;
            #cvo-objective-objective {
                line-height: 15pt;
                text-align: justify;
            }
        }
    }
    #education-table, #experience-table, #activity-table, #certification-table, #award-table, 
    #skill-table , #project-table {
        width: 100%;
        margin: 0.2cm auto;
        margin-bottom: 0;
        
        .row {
            display: block;
            vertical-align: top;
            border-bottom: 1px solid #eee;
            padding: 0.15cm 0;
            margin-left: 0;
            margin-right: 0;
        }
        .time {
            padding: 0 2mm 0 0;
            width: 30%;
            float: left;
        }
        .school, .organization, .details, .cvo-skillgroup-skill-description {
            width: 70%;
            float: left;
        }
        .cvo-education-school {
            font-size: 10pt;
            width: 100%;
            font-weight: bold;
            display: block;
        }
        .cvo-education-details {
            padding-top: 1mm;
            font-size: 10pt;
            width: 100%;
            display: block;
        }
        .company {
            width: 10cm;
            float: left;
        }
        .cvo-experience-company, .cvo-activity-organization {
            font-size: 10pt;
            font-weight: bold;
            min-width: 5cm;
            display: block;
        }
        .cvo-experience-position, .cvo-activity-position, .cvo-certification-title {
            font-size: 10pt;
            min-width: 5cm;
            display: block;
        }
    }
    #certification-table {
        .cvo-certification-title {
            padding: 1mm;
        }
    }
    #award-table {
        .cvo-award-title {
            padding: 1mm;
        }
    }
    #skill-table {
        .cvo-skillgroup-area {
            width: 30%;
            color: #000000;
            float: left;
            font-weight: bold;
            padding-right: 5px;
        }
        .cvo-skillgroup-skill-description {
            font-size: 10pt;
        }
    }
}
#cvo-body {
    font-family: arial,sans-serif,tahoma;
}
#cv-watermark {
    position: absolute;
    right: 15mm;
    bottom: 5mm;
    font-size: 11px;
    color: #999;
    cursor: help;
}
.default_min_width {
    min-width: 25pt;
}
.start, .end {
    min-width: 30px;
    display: inline-block;
}
.cvo-education-title, .cvo-experience-details, .cvo-activity-details {
    width: 100%;
    margin: 1px 0;
}
.project_title {
    padding: 10px 0;
    h4 {
        font-size: 12pt;
        line-height: 16pt;
        font-weight: bold;
        color: black;
        width: 100%;
        margin-bottom: 1px;
    }
}
.project_details {
    table {
        width: 100%;
        border: 1px solid #999;
    }
    th {
        border: 1px solid #999;
        vertical-align: middle;
        width: 24%;
        font-weight: bold;
        text-align: left;
        padding: 3pt;
    }
    td {
        border: 1px solid #999;
        padding: 3pt;
    }
}
.my-cv-box {
    background-color: #F6F6F6;
}