.page-cv table.tbl-cv tr.editting td.editable .proj-edit-date {
  width: 100%;
}
.page-cv table.tbl-cv tr.editting td.editable .proj-edit-date input {
  padding: 4px;
  max-width: 70px;
  margin: auto;
}
table.tbl-cv .role-select {
  width: 80%;
  height: 25px;
}
.proj-edit-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proj-edit-date>p {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-cv .proj-edit-date>p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.col-action {
  white-space: nowrap;
  padding: 0 4px;
  text-align: center;
}
