.align-center {
    text-align: center;
}

.width-initial {
    width: initial!important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px!important;
}

.min-height-150 {
    min-height: 150px;
}

.font-size-23px {
    font-size: 23px;
}

.height-500 {
    height: 500px;
}

.overflow-auto {
    overflow: auto;
}

.color-white {
    color: #fff;
}

.font-bold {
    font-weight: bold !important;
}

.float-none {
    float: none !important;
}

.display-none {
    display: none !important;
}

.width-100 {
    width: 100px;
}

.min-width-100 {
    min-width: 120px!important;
}

.max-width-150 {
    max-width: 150px!important;
}

.width-150 {
    width: 150px !important;
}

.width-200 {
    width: 200px;
}

.width-300 {
    width: 300px;
}

.error-validate {
    color: red;
    margin-top: 5px;
    font-size: 13px;
}

.text-align-right {
    text-align: right;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.bg-holiday {
    background-color: #999;
}

.resize-vertical-only {
    resize: vertical;
}

.word-break {
    word-break: break-all;
}

.width-col-xs-1 {
    width: 8%;
}

.width-col-xs-11 {
    width: 91%;;
}

.padding-left-150 {
    padding-left: 150px!important;
}

.padding-left-250 {
    padding-left: 250px!important;
}

.word-wrap-break {
    word-wrap: break-word;
}

.bg-white {
    background-color: #fff!important;
}

.bg-silver {
    background-color: #e7e7e7;
}

.callout-default {
    background-color: #ccc;
    border-color: #999;
}

.bg-wrapper {
    background-color: #ecf0f5 !important;
}

.bottom--24px {
    bottom: -24px!important;
}

.font-size-12px {
    font-size: 12px !important;
}

.font-size-25px {
    font-size: 25px !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-40 {
    margin-top: 40px;
}

.background-white {
    background: #fff !important;
}

.white-space-pre {
    white-space: pre-line;
}
.break-init {
    word-break: initial;
}

.break-word {
    word-break: break-word;
}
span.content_br {
    white-space: pre-line;
    word-break: break-word;
}