.text-align-center {
    text-align: center;
}

.overflow-visible {
    overflow: visible !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0;
}

.error {
    font-size: 14px;
}



.width-100 {
    width: 100px;
}

.width-32 {
    width: 32px;
}

.width-70 {
    width: 70px;
}

.width-300{
    width:325px;
}

.width-93-percent {
    width: 93% !important;
}

.position-relative {
    position: relative !important;
}

.position-inherit {
    position: inherit !important;
}

.margin-top-12 {
    margin-top: 12px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-38 {
    margin-top: 38px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.padding-0 {
    padding: 0 !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.position-reset {
    top: 0 !important;
    left: 0 !important;
}

.clear-both {
    clear: both;
}

.border-bottom-mobile {
    @media screen and (max-width: $largeScreen) {
        border-bottom: 1px solid #ccc;
    }
    
}

.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.modal {
    color: #58595b !important;
}

.body-padding {
    @media screen and (min-width: $largeScreen){
        padding-right: 15px;
        padding-left: 15px;
    }
}

.display-inline {
    display: inline !important;
}

.top-10 {
    top: 10px;
}